@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2 style="color:green;font:bold">Detail</h2>
            <div class="card-group mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name: @Model.Name</h5>
                        <p class="card-text">Order: @Model.Order</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <a asp-action="index" asp-controller="category" class="btn btn-outline-success mt-md-2">Back</a>
    </div>
</div>

